@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/*Для верхнего черного меню*/
	.rp-phone
		border: none

		


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/*Для верхнего черного меню*/

	
	


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/*Для верхнего черного меню*/
	.logo-rp
		margin: 10px
	.navbar-header
		button
			margin: 6px 0 0

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/*Для верхнего черного меню*/
	#search 
		.form-control 
			font-size: 14px
			height: 35px
		.input-group-btn
			height: 35px
			button
				font-size: 14px
				padding: 9px 16px 6px
	.pr-hidden
		display: none
	header
		padding-bottom: 0

	.rp-phone
		span, i
			font-size: 14px			
	header
		ul
			li
				a
					font-size: 14px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

